<div id="container">
    <mat-card class="card">
      <mat-card-content class="card-content">
        <img src="../../../assets/logo.jpg">
        <h1>{{ "Title" | translate }}</h1>
        <form class="form" [formGroup]="formGroup" (ngSubmit)="onClickAcces()">
          <mat-form-field class="field" hideRequiredMarker>
            <mat-icon matPrefix [ngStyle]="{'color':'#EBEBEB'}">person_outline</mat-icon>
            <mat-label>{{ "Email" | translate }}</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="error && !formGroup.controls['email'].valid">
              {{ "Mail error" | translate }}
            </mat-error>
          </mat-form-field>
        
          <mat-form-field hideRequiredMarker>
            <mat-icon matPrefix [ngStyle]="{'color':'#EBEBEB'}">lock_outline</mat-icon>
            <mat-label>{{ "Password" | translate }}</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf=" !formGroup.controls['password'].valid">
              {{ "Password error" | translate }}
            </mat-error>
          </mat-form-field>
          <div class="remember">
            <p>{{ "Remember" | translate }}</p>
            <mat-slide-toggle formControlName="remember" color="primary"></mat-slide-toggle>
            <textarea matInput hidden></textarea>
          </div>
          <button type="submit" mat-raised-button>{{ "Log in" | translate }}</button>
        </form>
      </mat-card-content>
    </mat-card>
</div>