<div id="container">
    <mat-card class="card">
      <mat-card-content class="card-content">
        <img src="../../../assets/logo.jpg">
        <h1>Prueba técnica</h1>
        <form class="form" [formGroup]="formGroup" (ngSubmit)="onClickAcces()">
          <mat-form-field class="field" hideRequiredMarker>
            <mat-icon matPrefix [ngStyle]="{'color':'#EBEBEB'}">person_outline</mat-icon>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="error && !formGroup.controls['email'].valid">
              {{ "error mail" }}
            </mat-error>
          </mat-form-field>
        
          <mat-form-field hideRequiredMarker>
            <mat-icon matPrefix [ngStyle]="{'color':'#EBEBEB'}">lock_outline</mat-icon>
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf=" !formGroup.controls['password'].valid">
              {{ "error contraseña" }}
            </mat-error>
          </mat-form-field>
          <div class="remember">
            <p>Recordar</p>
            <mat-slide-toggle formControlName="remember" color="primary"></mat-slide-toggle>
            <textarea matInput hidden></textarea>
          </div>
          <button type="submit" mat-raised-button >Acceder</button>
        </form>
      </mat-card-content>
    </mat-card>
</div>